<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-16">
    <title>Rage Console</title>
    <style>

      *:focus {
        outline: none;
      }

      html,
      body {
        padding: 0;
        margin: 0;
      }

      body {
        color: #fff;
        font-size: 1.7vh;
        -webkit-font-smoothing: antialiased;
      }

    </style>
  </head>
  <body>
    <div id="app">
      <debug></debug>
    </div>
    <script src="assets/app.js?v=301"></script>
  </body>
</html>
