@font-face {
    font-family: 'Codename Coder Free 4F';
    src: local('Codename Coder Free 4F Bold'), local('CodenameCoderFree4F-Bold'), url('Codenamecoderfree4fbold.woff2') format('woff2'), url('Codenamecoderfree4fbold.woff') format('woff'), url('Codenamecoderfree4fbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
